<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de privacidad</title>
    <link rel="shortcut icon" href="/img/icono-logo.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-header-footer.css">
    <link rel="stylesheet" href="/css/styles-privacidad-legal.css">
</head>

<body>
    <header>
        <nav class="main-top-nav">
            <div class="img-logo">
                <a href="/">
                    <img src="/img/Logo.svg" alt="Logo FitFunWear"></a>
            </div>
            <div class="main-list-nav">
                <p class="list-nav-item"><a href="#">Hombre</a></p>
                <p class="list-nav-item"><a href="#">Mujer</a></p>
                <p class="list-nav-item"><a href="#">Ofertas</a></p>
            </div>
            <div class="search-bar">
                <a href="#" title="Buscar algo"><i class="fas fa-search pointer"></i></a>
            </div>
            <div class="user">
                <a href="/login" title="Iniciar sesión / Registrarse"><i class="fas fa-user pointer"></i></a>
            </div>
            <div class="shop-car">
                <a href="#" title="Ver carrito"><i class="fas fa-shopping-cart pointer"></i></a>
            </div>
            <div class="bars">
                <a href="#" title="Más opciones"><i class="fas fa-bars pointer"></i></a>
            </div>
        </nav>
    </header>
    <main>
        <h1>Política de privacidad</h1>
        <section class="intro-section">
            La presente Política de Privacidad establece los términos en que Fit Fun Wear usa y protege la información
            que es proporcionada por sus usuarios en el momento de utilizar su sitio web. Fit Fun Wear está comprometida
            con la seguridad de los datos de sus usuarios. Cuando te pedimos rellenar los campos de información personal
            con la cual puedas ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento.
            Sin embargo, esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que te recomendamos y enfatizamos
            revisar continuamente esta página para asegurarte que estás de acuerdo con dichos cambios.

        </section>
        <p class="title-section">Información que se recopila</p>
        <section>
            Nuestro sitio web podrá recopilar información personal por ejemplo: Nombre, información de contacto como tu
            dirección de correo electrónico e información demográfica. Asimismo, cuando sea necesario, podrá ser requerida
            información específica para procesar algún pedido o realizar una entrega o facturación.
        </section>
        <p class="title-section">Uso de la información recopilada</p>
        <section>
            Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente
            para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios.
            Es posible que te llamemos o te enviemos correos electrónicos periódicamente a través de nuestro sitio con ofertas
            especiales, nuevos productos y otra información publicitaria que consideremos relevante para ti o que pueda brindarte
            algún beneficio. Estos correos electrónicos y llamadas se harán a la dirección y teléfono que proporciones y podrán
            ser cancelados en cualquier momento.
            Fit Fun Wear está altamente comprometida para cumplir con el compromiso de mantener tu información segura.
            Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.

        </section>
        </section>
        <p class="title-section">Uso de cookies</p>
        <section>
            Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en tu ordenador.
            Al aceptar la política de cookies, dicho fichero se crea y la cookie sirve entonces para obtener información respecto al tráfico web,
            y también facilita la navegabilidad en las futuras visitas recurrentes a una web. Otra función que tienen las cookies es que con ellas
            las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio personalizado.
            Nuestro sitio web emplea las cookies para poder identificar las páginas que se visitan y su frecuencia. 
            Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente.
            Puedes eliminar las cookies en cualquier momento desde tu ordenador. Sin embargo, las cookies ayudan a proporcionar un mejor servicio en los sitios web,
            éstas no dan acceso a información de tu ordenador ni tuya a nivel personal, a menos de que así lo quieras y la proporciones directamente. 
            Puedes aceptar o negar el uso de cookies en el aviso web que informa de ello, sin embargo, la mayoría de navegadores aceptan cookies automáticamente, 
            al servir para obtener un mejor servicio web. También puedes cambiar la configuración de tu ordenador para declinar las cookies, aunque en este caso es
            posible que no puedas utilizar algunos de nuestros servicios.
            
        </section><p class="title-section">Enlaces a terceros</p>
        <section>
            Este sitio web puede contener enlaces a otros sitios que pudieran ser de tu interés. Una vez que hagas clic en estos enlaces y abandones nuestra página,
            ya no tenemos control sobre el sitio al que te dirigen y por lo tanto no somos responsables de los términos o privacidad ni de la protección de tus datos
            que se pueda producir en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los
            consultes para confirmar que estás de acuerdo con ellas.         
        </section><p class="title-section">Control de tu información personal</p>
        <section>
            En cualquier momento puedes restringir la recopilación o el uso de la información personal que proporcionas a nuestro sitio web. Cada vez que se te solicite
            rellenar un formulario puedes marcar o desmarcar la opción de recibir información por correo electrónico. En caso de que hayas marcado la opción de recibir
            nuestro boletín o publicidad, puedes cancelarla en cualquier momento.
            Fit Fun Wear no venderá, cederá ni distribuirá la información personal que recopila sin tu consentimiento, salvo que sea requerida por un juez con un orden judicial.
            Fit Fun Wear se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.  
        </section>
    </main>
    <footer>
        <hr>
        <section class="footer-section-select">
            <select name="faq" id="faq" class="footer-select" title="FAQ">
                <option value="faq" selected disabled>FAQ</option>
                <option value="uno"><a href="#">Uno</a></option>
                <option value="dos"><a href="#">Dos</a></option>
                <option value="https://www.google.com">Tres</option>
            </select>
        </section>
        <section class="footer-section-select">
            <select name="about" id="about" class="footer-select" title="Acerca de">
                <option value="about" selected disabled>Acerca de</option>
                <option value="uno">Uno</option>
                <option value="dos">Dos</option>
                <option value="tres">Tres</option>
            </select>
        </section>
        <section class="footer-section-select">
            <select name="contact" id="contact" class="footer-select" title="Contacto">
                <option value="contact" selected disabled>Contacto</option>
                <option value="uno">Uno</option>
                <option value="dos">Dos</option>
                <option value="tres">Tres</option>
            </select>
        </section>
        <div class="container-footer">
            <section class="footer-list">
                <p class="footer-list-title">FAQ</p>
                <ul>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">¿Cómo comprar?</a></li>
                </ul>
            </section>
            <section class="footer-list">
                <p class="footer-list-title">Acerca de</p>
                <ul>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">¿Cómo comprar?</a></li>
                </ul>
            </section>
            <section class="footer-list">
                <p class="footer-list-title">Contacto</p>
                <ul>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">¿Cómo comprar?</a></li>
                </ul>
            </section>
            <section>
                <p class="footer-list-title">Redes sociales</p>
                <div class="footer-social">
                    <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                </div>
                <p class="footer-list-title">Aceptamos estas tarjetas</p>
                <div class="cc-container">
                    <i class="fab fa-cc-visa pointer"></i>
                    <i class="fab fa-cc-mastercard pointer"></i>
                    <i class="fab fa-cc-paypal pointer"></i>
                    <i class="fab fa-cc-amex pointer"></i>
                </div>
            </section>

        </div>
        <section class="social">
            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
        </section>
        <section class="credit-cards">
            <p class="footer-cards-title">Aceptamos estas tarjetas</p>
            <div class="credit-card-container"><i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-paypal"></i>
                <i class="fab fa-cc-amex"></i>
            </div>
        </section>
        <section class="footer-bottom">
            <div class="img-footer">
                <a href="/">
                    <img src="/img/Logo.png" alt="Logo FitFunWear"></a>
            </div>
            <div class="copyright">
                <p class="copy-item">Copyright &copy; FitFunWear 2021</p>
                <p class="copy-item"><a class="link-copy" href="/privacidad">Politica de privacidad</a></p>
                <p class="copy-item"><a class="link-copy" href="/legal">Aviso legal</a></p>
            </div>
        </section>
    </footer>
</body>

</html>