/** Main **/
main {
    background-color: #f8f7f7;
    padding: 10px 0;
}

/* Main - Carrousel section */
.carrousel {
    align-items: center;
    display: flex;
    padding: 20px 0;
}

.carrousel img {
    display: block;
    margin: auto;
    width: 650px;
    max-width: 90%;
}

.fa-chevron-left, .fa-chevron-right {
    color: #29adb8;
    font-size: 2rem;
}

/* Main - Trending and best seller's section */
.title-section {
    padding-bottom: 5px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.section-item {
    margin: 15px 0;
    transition: all 400ms ease-in;
}

.section-item:hover {
    box-shadow: 0px 0px 10px #efb85a;
    transform: scaleX(1.01) scaleY(1.01);
}

.img-item {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 313px;
    border-radius: 3px;
    object-fit: cover;
}

.item-name, .item-price {
    font-size: 1.2rem;
    text-align: center;
}

/** Media queries **/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Main */
    .fa-chevron-left, .fa-chevron-right {
        font-size: 3rem;
    }

    .trending-articles, .best-seller-articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .section-item {
        width: 48%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Main */
    .carrousel {
        position: relative;
    }

    .fa-chevron-left, .fa-chevron-right {
        font-size: 4rem;
        position: relative;
    }

    .fa-chevron-left {
        left: 15%;
    }

    .fa-chevron-right {
        left: -15%;
    }

    .trending-articles, .best-seller-articles {
        justify-content: space-evenly;
    }

    .section-item {
        width: 31%;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Main */
    .section-item {
        width: 23%;
    }

}