* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

p{
    font-size: 14px;
}

/* Carrito vacío */

main.cart{
    background-color: white;
    width:100%;
    min-height: 250px;
}

main.vacio{
    background-color: white;
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: column;
}

main.cart section.section-cart {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eeeeee;
}

main.vacio section.section-cart h2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:#495057;

}

main.vacio section.section-cart .continua-compra {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eeeeee;
    padding: 20px 10px;
}

main.vacio section.section-cart .continua-compra i{
    font-size: 11px;
    padding-right: 5px;
    color:#495057
}

main.vacio section.section-cart .continua-compra  a{
    font-size: 11px;
    text-decoration: none;
}

main.vacio section.section-main{
    height:fit-content;
}

main.vacio section.centrado.section-main{
position:relative;
}

main.vacio div.unico-texto{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; /* Nuevo width */
    text-align: center; /* Texto centrado */
    margin: auto;
    font-weight: 600;
    margin-top: 13%;
}


/* Carrito no vacío*/
main.NoVacio{
    height:fit-content;
}

section.header-NoVacio h2{
    text-align: center;
    background-color: #eeeeee;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    padding: 15px;
}

/* Sección de Articulos */
main.cart div.products-selected {
    background-color: white;
    width:100%;
    /*height:640px;*/
    height:fit-content;
    display:flex;
    flex-direction: column;
    border-bottom: 2px solid #ebebeb;
}
main.cart section.articulos{
    border-top: 2px solid #ebebeb;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

main.cart section article{

    display: flex;
    flex-wrap: wrap;
    margin:20px 10px 20px 10px;
    box-shadow:none;
    transition: box-shadow 0.5s;
}


main.cart article:hover{
    box-shadow: 0px 0px 10px rgb(100,100,100);
}

main.cart article div.check{
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
}

main.cart article div.check div.disponible{
    display: flex;
    flex-wrap: wrap;
}

main.cart article div.check p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    padding-top: 5px;
}

main.cart section article img{
    width: 100%;
    border-radius: 3px;
}

main.cart section article div.desc-article{
    width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 13px;
    align-items: flex-start;
}

main.cart div.desc-article h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ebebeb;
}

main.cart div.desc-article label{
    font-size: 14px;
    font-weight:600;
    display:flex;
    line-height: 20px;
}

main.cart div.desc-article p{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    padding-left: 5px;
}

main.cart div.cantidad-total{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}


main.cart div.cantidad-total label{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #495057;
    margin: 0;
    padding-left: 4px;
    border: 1px #495057 solid;

}

main.cart div.cantidad-total select{
    margin: 0 5px;
    border:none;
    font-size: 12px;
    padding-right: 6px;
}

main.cart div.cantidad-total label.subtotal{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    padding-top: 5px 0 0 5px;
    border:none;
}

main.cart div.cart-modify{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

main.cart div.cart-modify label{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-decoration: underline;
    padding: 11px 0 5px 0;
}

main.cart div.cart-modify div.editar{
    padding-right: 20px;
}

main.cart div.a-pagar {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/*
section.subtotal-final{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:40px 10px 20px 10px;
}
*/
section.subtotal-final  {
    margin:0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:3px 0;

    color: #222222;
    line-height: 15px;
    font-size: 12px;
    font-weight: 600;
   /* justify-content:flex-end;*/
}

div.row-total p{
    color: #222222;
    line-height: 15px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content:right;
    padding-right: 10px;
}

section.subtotal-final div.row-total:last-child{
    padding-bottom: 30px;
    border-bottom: 2px solid #ebebeb;
}

section.total-final{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:5px 10px 62px 10px;
    border-bottom: 3px solid #ebebeb;
}

section.total-final div.row-total-fin {
    margin:0 10px 84px 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

div.row-total-fin p{
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
}

#pagar {
    position: fixed;
    bottom: 0;
    width:100%;
    height: 62px; 
    padding-bottom: 26px; 
    background: white;
    opacity:1;
    border-top: 2px solid #063b52;
    z-index:2000;
    text-align: center;
}

#pagar button{
    background: #29adb8;
    border: none;
    margin-top: 7px;
    margin-bottom: 20px;
    margin-left:20px;
    margin-right: 20px;
    padding: 15px 40% 15px 40%;
    color: white;
    box-shadow:none;
    transition: box-shadow 0.5s;
}


#pagar button:hover{
    box-shadow: 0px 0px 10px rgb(141, 199, 202);
}

main.cart section.carousel {
    align-items: center;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    margin:0 2%;
    width: 100%;
    margin: 0 10px;
}

main.cart section.carousel img {
    display: block;
    margin: auto;
    height: 300px;
    width: 35%;
    border-radius: 3px;
    display: block;

    object-fit: cover;
    object-position: center center;
    

}

section.carousel i {
    color: #29adb8;
    font-size: 2rem;
    padding: 0;
    margin: 0 15px;
}

/* Responsive*/
@media (min-width: 576px){
    main.cart div.products-selected {
        flex-direction: row;
        justify-content: space-between;
    }
    main.cart section.articulos{
        width: 61%;
    }
    main.cart section article div.desc-article{
        margin-left: 10px;
    }

    main.cart div.a-pagar {
        width: 35%;
        margin-top: 15px;
    }

    section.total-final{
        margin:0;
        padding:5px 0;
        border-bottom: 0;

    }

    section.total-final div.row-total-fin {
        margin:0 10px 30px 10px;
        padding: 0 10px;
        justify-content: space-between;
    }


    div.row-total-fin p{
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
    }

    #pagar {
        position: unset;
        bottom:unset;
        border-top: none;
        margin:0;
        padding:0;
        width:80%;
        text-align: center;
    }


    #pagar button{
        background: #29adb8;
        border: none;
        margin-top: 7px;
        margin-bottom: 10px;
        /*padding: 15px 20px;*/
        color: white;
        box-shadow:none;
        transition: box-shadow 0.5s;
        font-size: 15px;
        line-height: 15px;
    }

}

@media (min-width: 992px){
    main.cart section.carousel {
        width: 80%;
        margin-left: 10%;
    }


    div.row-total-fin p{
        line-height: 14px;
        font-size: 14px;
    }
    div.row-total p{
        color: #222222;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;

}
}

@media (min-width: 1200px){

    div.row-total-fin p{
        line-height: 18px;
        font-size: 18px;
    }
    section.header-NoVacio h2{
        text-align: left;
        background-color: #eeeeee;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        padding: 15px;
        padding-left: 30px
    }

    main.cart div.cantidad-total label.subtotal{
        font-size: 20px;
        line-height: 24px;
    }

    main.cart div.desc-article h5{
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }

    main.cart section.articulos{
        width: 50%;
    }

    #pagar {
        text-align: left;
        padding:0;
        width: 100%;
    }

    #pagar button{
        padding:20px 20%;
        text-align: center;
        margin:0;
        margin-left: 20px;
    }

}
