/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #ffffff;
}

/* Header */
.main-top-nav {
    display: flex;
    justify-content: space-around;
}

div.img-logo {
    flex-grow: 0.9;
    margin-right: 30%;
    max-height: 89px;
}

div.img-logo img, .img-footer img {
    border-radius: 5px;
    max-height: 89px;
    max-width: 100%;
    transition: transform 450ms linear;
}

div.img-logo img:hover, .img-footer img:hover {
    transform: scaleX(1.1) scaleY(1.1);
}

.search-bar, .user, .shop-car, .bars {
    align-self: center;
    color: #063b52;
    flex-grow: 0.30;
    font-size: 35px;
}

.main-list-nav {
    display: none;
}

.user {
    display: none;
}

/* Main */

main{
    margin: 25px 30px;
    padding: 15px 30px;
    display: flexbox;
    border: double 2px #ed5556; 
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(41, 173, 184);

}

form {
    display: flexbox;
}

h1{
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: #2c2d37;
}

label{
    font-size: 16px;
}

.Recordarme{
    font-size: 12px;
}

a.box:link{
    font-size: 12px;
    color: #757575;
}

a.link-copy:link{
    font-size: 12px;
    color: #757575;
}

div.nuevoUsuario label{
    font-size: 12px;
    color: #757575;
}

div{
    display: flexbox;
    margin: 11px;
}

input[type="email"],[type="password"] {
    width: 100%;
    height: 25px;
}

div.boton{
    text-align: center;
}

button.Enviar{
    background-color: rgba(237, 85, 86, 0.8);
    border-radius: 3px;
    height: 25px;
    width: 100px;
    color: #000000;
    text-align: center;
    border-color: #ed5556;
    
}

.fa-gifts{
    color: #29adb8;
    font: 15px;
}

label.beneficios{
    font-size: 10px;
}

/* Footer */
footer {
    padding: 10px;
}

.footer-section-select {
    margin: 10px;
}

.footer-select {
    font-size: 20px;
    padding: 10px;
    width: 100%;
}

.footer-select:focus {
    border: 2px solid #29adb8;
}

.social {
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    margin: 20px 0;
}

.fa-facebook, .fa-twitter, .fa-instagram {
    font-size: 2.5rem;
    transition: all 0.4s;
}

.fa-facebook:hover {
    color: #1877f2;
}

.fa-twitter:hover {
    color: rgba(29,161,242,1.00);
}

.fa-instagram:hover {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 45%;
}

.container-footer {
    display: none;
}


/* Para los diferentes dispositivos - Media queries */
/* Móvil */
@media (min-width: 576px) {

    /* Header */
    .search-bar, .shop-car, .bars {
        flex-grow: 0.3;
        font-size: 40px;
    }

    div.img-logo {
        margin-right: 50%;
    }
    
    .fa-chevron-left, .fa-chevron-right {
        font-size: 3rem;
    }
        
}

/* Tablet */
@media (min-width: 768px) {
    /* Header */
    .search-bar, .shop-car, .bars {
        flex-grow: 0.3;
        font-size: 40px;
    }

    div.img-logo {
        margin-right: 50%;
    }
    
    .fa-chevron-left, .fa-chevron-right {
        font-size: 3rem;
    }

    /* Main */
    h1{
        text-align: center;
        font-size: 30px;
    }

    /* Main */
    main{
        margin: 50px 190px;
    
    }
    
}


/* Desktop */
@media (min-width: 992px) {

    /* Header */
    .carrousel {
        position: relative;
    }

    .fa-chevron-left, .fa-chevron-right {
        font-size: 4rem;
        position: relative;
    }

    .fa-chevron-left {
        left: 15%;
    }

    .fa-chevron-right {
        left: -15%;
    }

    /* Main */
    main{
        margin: 50px 260px;
    }

    h1{
        text-align: center;
        font-size: 30px;
    }


    .Enviar:hover{
        transition: 0.5ms;
        opacity: 0.8;
        background-color: #efb85a
    }
    
    /* Footer */
    .footer-section-select, .social {
        display: none;
    }

    .container-footer, .footer-social {
        display: flex;
        justify-content: space-evenly;
    }

    .container-footer {
        padding-top: 15px;
    }
    
    .footer-list-title {
        font-weight: 800;
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
    }

    .footer-social a {
        margin: 0 15px;
        padding-top: 10px;
    }

    .footer-bottom {
        display: flex;
        margin-top: 10px;
    }

    .copyright {
        align-items: center;
        display: flex;
    }

    .copy-item {
        margin: 0 10px;
    }

    p.copy-item a:hover, .footer-list a:hover {
        color: #ed5556!important;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Header */
    .bars {
        display: none;
    }

    .user {
        display: inline;
    }

    .main-list-nav {
        align-items: center;
        display: flex;
        margin-right: 34%;
    }

    div.img-logo {
        margin-right: 0%;
    }

    .list-nav-item a {
        color: #063b52;
        font-size: 1.5rem;
        margin: 0 10px;
    }

    .list-nav-item a:hover {
        color: #29adb8!important;
    }

    /* Main */
    main{
        margin: 50px 390px;
    
    }


}






