/** Main **/
main {
    background-color: #f8f7f7;
    padding: 10px 0;
}

.btn-link:hover {
    text-decoration: none!important;
}

/* Main - Carrousel section */
.carrousel {
    align-items: center;
    display: flex;
    padding: 20px 0;
}

.carrousel img {
    display: block;
    margin: auto;
    width: 650px;
    max-width: 90%;
}

/* Carrusel de bootstrap*/
.carrusel {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.carousel-inner {
    max-height: 500px;
}

img.img-carr {
    max-height: 500px;
    object-fit: cover;   
    transition: all 2s; 
}

img.img-carr:hover {
    object-fit: contain;
    max-height: 700px;
}

.label-product-carusel {
    color: #FFFFFF;
    text-shadow: 4px 3px 2px #7A7A7A;
}

.carousel-control-prev-icon {    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    background-color: rgba(247, 244, 244, 0.466)!important;
}

.fa-chevron-left, .fa-chevron-right {
    color: #29adb8;
    font-size: 2rem;
}

/* Main - Trending and best seller's section */
.title-section {
    padding-bottom: 5px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.section-item {
    margin: 15px 0;
    transition: all 400ms ease-in;
}

.section-item:hover {
    box-shadow: 0px 0px 10px #efb85a;
    transform: scaleX(1.01) scaleY(1.01);
}

.img-item {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 313px;
    border-radius: 3px;
    object-fit: cover;
}

.item-name, .item-price {
    font-size: 1.2rem;
    text-align: center;
}

div.boton{
    text-align: center;
}

button.newProduct{
    background-color: #E8E8E8;
    border-radius: 3px;
    height: 40px;
    width: 250px;
    color: #000000;
    text-align: center;
    border-color: #B9B9B9;
    
}

/** Media queries **/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Main */
    .fa-chevron-left, .fa-chevron-right {
        font-size: 3rem;
    }

    .trending-articles, .best-seller-articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .section-item {
        width: 48%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Main */
    .carrousel {
        position: relative;
    }

    .fa-chevron-left, .fa-chevron-right {
        font-size: 4rem;
        position: relative;
    }

    .fa-chevron-left {
        left: 15%;
    }

    .fa-chevron-right {
        left: -15%;
    }

    .trending-articles, .best-seller-articles {
        justify-content: space-evenly;
    }

    .section-item {
        width: 31%;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Main */
    .section-item {
        width: 23%;
    }

    .carrusel {
        width: 60%;
    }

}