<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunFitWear. Cart.</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles_cart.css">
    <link rel="stylesheet" href="/css/styles-header-footer.css">

</head>
<body>
    <header>
        <nav class="main-top-nav">
            <div class="img-logo">
                <a href="/">
                    <img src="/img/Logo.svg" alt="Logo FitFunWear"></a>
            </div>
            <div class="main-list-nav">
                <p class="list-nav-item"><a href="#">Hombre</a></p>
                <p class="list-nav-item"><a href="#">Mujer</a></p>
                <p class="list-nav-item"><a href="#">Ofertas</a></p>
            </div>
            <div class="search-bar">
                <a href="#" title="Buscar algo"><i class="fas fa-search pointer"></i></a>
            </div>
            <div class="user">
                <a href="/login" title="Iniciar sesión / Registrarse"><i class="fas fa-user pointer"></i></a>
            </div>
            <div class="shop-car">
                <a href="/cartNV" title="Ver carrito"><i class="fas fa-shopping-cart pointer"></i></a>
            </div>
            <div class="bars">
                <a href="#" title="Más opciones"><i class="fas fa-bars pointer"></i></a>
            </div>
        </nav>
    </header>
    <main class="vacio">
        <section class="section-cart">
            <div class="continua-compra">
                <h2>TU CARRITO DE COMPRA[0]</h2>
                <div>
                    <i class="fas fa-chevron-left" ></i>
                    <a href="/">Continuar comprando </a>
                </div>
            </div>
        </section>
        <section class="centrado section-main">
            <div class="unico-texto">No hay productos en el carrito</div>
        </section>
    </main>
</body>
</html>