<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-index.css">
    <title>FitFunWear</title>
    </head>

    <body>
        <%- include('../partials/header') %>
            <main class="mt-5 mb-3">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                    id="comprar">
                                    ¿Cómo comprar?
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                En fitfunwear.com comprar es tan facil como dar dos clicks en nuestro sitio, simplemente
                                estando en algún listado de productos elige el que más te guste, adecua tus opciones
                                como el color, la talla o la cantidad de productos que quieras para después pasar al
                                carrito y procesar tu pago, después todo esta listo, solo necesitas esperar unos dias
                                para que te llegue tu producto a la puerta de tu casa 😄.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                    id="credito">
                                    ¿Por qué me tengo que registrar en fitfunwear.com?
                                </button>
                            </h2>
                        </div>

                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Porque al registrarte creas una identidad y de esta manera una protección extra cuando
                                consultas todo lo referente a tus tarjetas a través de fitfunwear.com
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"
                                    id="producto">
                                    ¿Qué pasa si no recibo el producto que compré, o no es lo que esperaba?
                                </button>
                            </h2>
                        </div>

                        <div id="collapseThree" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Sentimos mucho que esto pueda ocurrir, pero si por algún motivo no recibes el producto
                                que viste en nuestra página web, o no estás satisfecho con tu compra, puedes
                                contactarnos vía telefónica al Centro de Atención Telefónica al +52 0102030405 para
                                recibir la orientación que necesites, o presentarte en cualquiera de nuestras tiendas
                                para gestionar el cambio o devolución. Sólo recuerda que necesitas proporcionar tu
                                número de pedido y entregar el artículo que recibiste para atender tu solicitud
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"
                                    id="entrega">
                                    ¿Por qué puede tardar más mi pedido?
                                </button>
                            </h2>
                        </div>

                        <div id="collapseFour" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Dependiendo del inventario, siempre buscamos que nuestra mercancía pueda ser surtida
                                desde una tienda cercana a tu domicilio, sin embargo hay ocasiones que surtimos desde
                                una tienda de otro estado de la República Mexicana por lo que el trazo es mayor y puede
                                demorar más.

                                En el caso de un artículo voluminoso, como por ejemplo muebles o colchones, siempre
                                surtimos desde un Centro de Distribución ubicado en el Estado de México.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>