<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-privacidad-legal.css">
    <title>FitFunWear - Aviso Legal</title>
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <h1>Aviso Legal</h1>
                <section class="intro-section">
                    DATOS GENERALES
                    De acuerdo con el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la
                    Información y de Comercio Electrónico ponemos a su disposición los siguientes datos:
                </section>
                <p class="title-section">FitFunWear</p>
                <section>
                    FitFunWear está domiciliada en la calle falsa 1916, con CIF 98. Inscrita en el
                    Registro Mercantil de la Ciudad de México, Vol.
                    12, Folio 97000, Hoja 26, Inscripción 512.
                </section>
                <p class="title-section">Contenidos</p>
                <section>
                    En la web FitFunWear hay una serie de contenidos de carácter informativo sobre el comercio
                    electrónico.

                    Su principal objetivo es facilitar a los clientes y al público en general, la información relativa a
                    la
                    empresa, a los productos y servicios que se ofrecen.
                </section>
                <p class="title-section">Propiedad intelectual e industrial</p>
                <section>
                    FitFunWear es titular de todos los derechos sobre el software de la publicación digital así como
                    de los derechos de propiedad industrial e intelectual referidos a los contenidos que se incluyan, a
                    excepción de los derechos sobre productos y servicios de carácter público que no son propiedad de
                    esta
                    empresa.

                    Ningún material publicado en esta web podrá ser reproducido, copiado o publicado sin el
                    consentimiento
                    por
                    escrito de FitFunWear

                    Toda la información que se reciba en la web, como comentarios, sugerencias o ideas, se considerará
                    cedida a
                    FitFunWear de manera gratuita. No debe enviarse información que NO pueda ser tratada de este
                    modo.

                    Todos los productos y servicios de estas páginas que NO son propiedad de FitFunWear son marcas
                    registradas de sus respectivos propietarios y son reconocidas como tales por nuestra empresa.
                    Solamente
                    aparecen en la web de FitFunWear a efectos de promoción y de recopilación de información. Estos
                    propietarios pueden solicitar la modificación o eliminación de la información que les pertenece.
                </section>
                <p class="title-section">Ley aplicable y juridiscción</p>
                <section>
                    Las presentes condiciones generales se rigen por la legislación española. Para cualquier litigio que
                    pudiera
                    surgir relacionado con el sitio web o la actividad que en él se desarrolla serán competentes
                    Juzgados de
                    la Ciudad de México, renunciando expresamente el usuario a cualquier otro fuero que pudiera
                    corresponderle.
                </section>
                <p class="title-section">Política de Cookies</p>
                <section>
                    FitFunWear por su propia cuenta o la de un tercero contratado para prestación de servicios de
                    medición, pueden utilizar cookies cuando el usuario navega por el sitio web. Las cookies son
                    ficheros
                    enviados al navegador por medio de un servicio web con la finalidad de registrar las actividades del
                    usuario
                    durante su tiempo de navegación.

                    Las cookies utilizadas se asocian únicamente con un usuario anónimo y su ordenador, y no
                    proporcionan
                    por sí
                    mismas los datos personales del usuario.

                    Mediante el uso de las cookies resulta posible que el servidor donde se encuentra la web reconozca
                    el
                    navegador web utilizado por el usuario con la finalidad de que la navegación sea más sencilla. Se
                    utilizan
                    también para medir la audiencia y parámetros del tráfico, controlar el proceso y número de entradas.

                    El usuario tiene la posibilidad de configurar su navegador para ser avisado de la recepción de
                    cookies y
                    para impedir su instalación en su equipo. Por favor consulte las instrucciones y manuales de su
                    navegador
                    para ampliar esta información.

                    Para utilizar el sitio web no es necesario que el usuario permita la instalación de las cookies
                    enviadas
                    al
                    sitio web, o el tercero que actúe en su nombre, sin perjuicio de que sea necesario que el usuario
                    inicie
                    una
                    sesión tal en cada uno de los servicios cuya prestación requiera el previo registro.

                    En todo caso las cookies tienen un carácter temporal con la única finalidad de hacer más eficaz su
                    transmisión ulterior. En ningún caso se utilizará cookies para recoger información de carácter
                    personal.
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>