<footer>
    <hr>
    <section class="footer-section-select">
        <select name="faq" id="faq" class="footer-select" title="FAQ">
            <option value="faq" selected disabled>FAQ</option>
            <option value="uno"><a href="#">Uno</a></option>
            <option value="dos"><a href="#">Dos</a></option>
            <option value="https://www.google.com">Tres</option>
        </select>
    </section>
    <section class="footer-section-select">
        <select name="about" id="about" class="footer-select" title="Acerca de">
            <option value="about" selected disabled>Acerca de</option>
            <option value="uno">Uno</option>
            <option value="dos">Dos</option>
            <option value="tres">Tres</option>
        </select>
    </section>
    <section class="footer-section-select">
        <select name="contact" id="contact" class="footer-select" title="Contacto">
            <option value="contact" selected disabled>Contacto</option>
            <option value="uno">Uno</option>
            <option value="dos">Dos</option>
            <option value="tres">Tres</option>
        </select>
    </section>
    <div class="container-footer">
        <section class="footer-list">
            <p class="footer-list-title">FAQ</p>
            <ul>
                <li><a href="/faq#comprar">¿Cómo comprar?</a></li>
                <li><a href="/faq#credito">Crédito</a></li>
                <li><a href="/faq#producto">Productos</a></li>
                <li><a href="/faq#entrega">Entregas</a></li>
            </ul>
        </section>
        <section class="footer-list">
            <p class="footer-list-title">Acerca de</p>
            <ul>
                <li><a href="/about#perfil">¿Quienes somos?</a></li>
                <li><a href="/about#mision">Misión</a></li>
                <li><a href="/about#vision">Visión</a></li>
                <li><a href="/about#valores">Valores</a></li>
            </ul>
        </section>
        <section class="footer-list">
            <p class="footer-list-title">Contacto</p>
            <ul>
                <li><a href="/contacto#correo">Envianos un correo</a></li>
                <li><a href="/contacto#telefono">Llámanos</a></li>
                <li><a href="/contacto#redes">Redes sociales</a></li>
                <li><a href="/contacto#sugerencias">Sugerencias</a></li>
            </ul>
        </section>
        <section>
            <p class="footer-list-title">Redes sociales</p>
            <div class="footer-social">
                <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="footer-list-title">Aceptamos estas tarjetas</p>
            <div class="cc-container">
                <i class="fab fa-cc-visa pointer"></i>
                <i class="fab fa-cc-mastercard pointer"></i>
                <i class="fab fa-cc-paypal pointer"></i>
                <i class="fab fa-cc-amex pointer"></i>
            </div>
        </section>

    </div>
    <section class="social">
        <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
    </section>
    <section class="credit-cards">
        <p class="footer-cards-title">Aceptamos estas tarjetas</p>
        <div class="credit-card-container"><i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-paypal"></i>
            <i class="fab fa-cc-amex"></i>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="img-footer">
            <a href="/">
                <img src="/img/Logo.png" alt="Logo FitFunWear"></a>
        </div>
        <div class="copyright">
            <p class="copy-item">Copyright &copy; FitFunWear 2021</p>
            <p class="copy-item"><a class="link-copy" href="/privacidad">Política de privacidad</a></p>
            <p class="copy-item"><a class="link-copy" href="/legal">Aviso legal</a></p>
        </div>
    </section>
</footer>