<header>
    <nav class="main-top-nav">
        <div class="img-logo">
            <a href="/">
                <img src="/img/Logo.svg" alt="Logo FitFunWear"></a>
        </div>
        <div class="main-list-nav">
            <p class="list-nav-item"><a href="/#">Hombre</a></p>
            <p class="list-nav-item"><a href="/#">Mujer</a></p>
            <p class="list-nav-item"><a href="/#">Ofertas</a></p>
        </div>
        <div class="search-bar">
            <a href="/#" title="Buscar algo"><i class="fas fa-search pointer"></i></a>
        </div>
        <div class="user">
            <a href="/user/login" title="Iniciar sesión / Registrarse"><i class="fas fa-user pointer"></i></a>
        </div>
        <div class="shop-car">
            <a href="/cart/index" title="Ver carrito"><i class="fas fa-shopping-cart pointer"></i></a>
        </div>
        <div class="bars">
            <a href="#" title="Más opciones"><i class="fas fa-bars pointer"></i></a>
        </div>
    </nav>
</header>