<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-products-admin.css">
    <title>Administrador</title>
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="seccion">
                    <img class="logo" src="/img/icono-logo.ico" alt="Logo FitFunWear">
                </div>
                <div class="bienvenida">
                    <h1> ¡ HOLA ADMIN ! </h1>
                    <% if (locals && locals.userLog) { %>
                        <p class="text-center"><%= userLog.name %> </p>
                    <% } %>
                    <p class="comunidad"> ¿Qué deseas hacer hoy? </p>
                </div>

                <form action="/" method="GET">

                    <div class="admin">
                        <a href="/admin/products" class="m-3" title="Administra, edita y elimina productos"><i class="fas fa-clipboard-list"></i> Administrar productos</a>
                        
                        <a href="/admin/users" class="m-3" title="Administra y ve los usuarios del sitio"><i class="fas fa-users"></i> Administrar usuarios</a> 
                    </div>

                </form>

            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>