<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-resetPassword.css">
    <title>FitFunWear</title>
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div>
                    <h1> Reestablece tu contraseña </h1>
                </div>
                <form action="/" method="GET">

                    <div class="resetPassword">
                        <label>Correo electrónico</label>
                    </div>
                    <div class="Usuario">
                        <input type="email" placeholder=" Dirección de correo electrónico" name="emailUsuario"
                            minlength="8" required>
                    </div>

                    <div class="boton">
                        <button class="Enviar" type="submit">Reestablecer</button>
                    </div>

                    <div>
                        <p class="iniciaSesion"> O vuelve a <a class="iniciarSesion" href="/user/login">Iniciar
                                sesión</a> </p>
                    </div>


                </form>

            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>